.builds-container {
  width: 80vw;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color:black;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 2%;
}

a {
    color:black;
}

.background {
  background-color: rgba(217, 217, 217, 0.6);
}
